INSTALLPRIMARYDATABASE=1
INSTALLDIR=C:\Program Files\kCura Corporation\Relativity
PRIMARYSQLINSTANCE={{ scalr.variables.PRIMARYSQLINSTANCE }}
EDDSDBOPASSWORD=
SERVICEUSERNAME={{ scalr.variables.Domain }}\{{ scalr.variables.Service_User }}
SERVICEPASSWORD=
DEFAULTFILEREPOSITORY={{ scalr.variables.DEFAULTFILEREPOSITORY }}
EDDSFILESHARE={{ scalr.variables.EDDSFILESHARE }}
CACHELOCATION={{ scalr.variables.CACHELOCATION }}
DTSEARCHINDEXPATH={{ scalr.variables.DTSEARCHINDEXPATH }}
RELATIVITYINSTANCENAME={{ scalr.variables.RELATIVITYINSTANCENAME }}
##ADMIN_EMAIL=
##SERVICEACCOUNT_EMAIL=
##ADMIN_PASSWORD=
##SERVICEACCOUNT_PASSWORD=
DATABASEBACKUPDIR={{ scalr.variables.DATABASEBACKUPDIR }}
LDFDIR={{ scalr.variables.LDFDIR }}
MDFDIR={{ scalr.variables.MDFDIR }}
FULLTEXTDIR={{ scalr.variables.FULLTEXTDIR }}
USEWINAUTH=1
