INSTALLDISTRIBUTEDDATABASE=1
INSTALLDIR=C:\Program Files\kCura Corporation\Relativity
PRIMARYSQLINSTANCE={{ scalr.variables.PRIMARYSQLINSTANCE }}
EDDSDBOPASSWORD=
SERVICEUSERNAME={{ scalr.variables.Domain }}\{{ scalr.variables.Service_User }}
SERVICEPASSWORD=
DISTRIBUTEDSQLINSTANCE={{ scalr.variables.DISTRIBUTEDSQLINSTANCE }}
DATABASEBACKUPDIR=<{{ scalr.variables.DATABASEBACKUPDIR }}
LDFDIR={{ scalr.variables.LDFDIR }}
MDFDIR={{ scalr.variables.MDFDIR }}
FULLTEXTDIR={{ scalr.variables.FULLTEXTDIR }}
DEFAULTFILEREPOSITORY={{ scalr.variables.DEFAULTFILEREPOSITORY }}
USEWINAUTH=1
