INSTALLQUEUEMANAGER={{ scalr.variables.INSTALLQUEUEMANAGER }}
INSTALLWORKER={{ scalr.variables.INSTALLWORKER }}
SQLINSTANCE={{ scalr.variables.SQLINSTANCE }}
RELATIVITYSQLINSTANCE={{ scalr.variables.RELATIVITYSQLINSTANCE }}
EDDSDBOPASSWORD=
SERVICEUSERNAME={{ scalr.variables.Domain }}\{{ scalr.variables.Service_User }}
SERVICEPASSWORD=
QUEUEMANAGERINSTALLPATH=C:\Program Files\kCura Corporation\Invariant\QueueManager\
WORKERINSTALLPATH=C:\Program Files\kCura Corporation\Invariant\Worker\
WORKERNETWORKPATH={{ scalr.variables.WORKERNETWORKPATH }}
DEFAULTFILEREPOSITORY={{ scalr.variables.DEFAULTFILEREPOSITORY }}
USEWINAUTH=1
