INSTALLAGENTS=1
INSTALLDIR=C:\Program Files\kCura Corporation\Relativity
PRIMARYSQLINSTANCE={{ scalr.variables.SQL_Primary }}
EDDSDBOPASSWORD=
SERVICEUSERNAME={{ scalr.variables.Domain }}\{{ scalr.variables.Service_User }}
SERVICEPASSWORD=
DEFAULTAGENTS={{ scalr.variables.Default_Agents }}
DEFAULTFILEREPOSITORY={{ scalr.variables.Default_FileRepo }}
USEWINAUTH=1
