INSTALLSERVICEBUS=1
INSTALLDIR=C:\Program Files\kCura Corporation\Relativity
PRIMARYSQLINSTANCE={{ scalr.variables.PRIMARYSQLINSTANCE }}
EDDSDBOPASSWORD=
SERVICEUSERNAME={{ scalr.variables.Domain }}\{{ scalr.variables.Service_User }}
SERVICEPASSWORD=
USEWINAUTH=1
DEFAULTFILEREPOSITORY={{ scalr.variables.DEFAULTFILEREPOSITORY }}
SERVICEBUSPROVIDER=RabbitMQ
SERVERFQDN={{ scalr.variables.SERVERFQDN }}
SHAREDACCESSKEY=
SHAREDACCESSKEYNAME=reladmin
SERVICENAMESPACE=Relativity
TLSENABLED=1
