INSTALLAGENTS=1
INSTALLDIR=C:\Program Files\kCura Corporation\Relativity
PRIMARYSQLINSTANCE={{ scalr.variables.PRIMARYSQLINSTANCE }}
EDDSDBOPASSWORD=
SERVICEUSERNAME={{ scalr.variables.Domain }}\{{ scalr.variables.Service_User }}
SERVICEPASSWORD=
DEFAULTAGENTS={{ scalr.variables.DEFAULTAGENTS }}
DEFAULTFILEREPOSITORY={{ scalr.variables.DEFAULTFILEREPOSITORY }}
USEWINAUTH=1
